body {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #222;
}

form {
  width: 40em;
  margin: 0 auto;
  width: 100%;
}

[type=search] {
  padding: 15px;
  width: 100%;
  border-radius: 2em;
  border: 1px solid #ddd;
}

.black-link {
  color: #222;
  text-decoration: none;
}

.signin-button {
  background-color: #1a73e8;
  color: white;
  border: 0;
  padding: 9px 25px;
  border-radius: 5px;
}

#page-div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

#nav-div {
  display: flex;
  flex-direction: row;
  height: 60px;
  flex-shrink: 0;
  align-items: center;
  border-bottom: 1px solid black;
}

#logo-div {
  display: flex;
  justify-content: center;
}

#search-div {
  display: flex;
  padding-top: 25px;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
}

#search-buttons {
  display: flex;
  padding-top: 30px;
  justify-content: center;
}

#about-div {
  padding-left: 26px;
}

#store-div {
  padding-left: 20px;
}

#navbar-right-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

#signin-div {
  padding-right: 18px;
}